<div class="mainBG">
    <app-navbar></app-navbar>
    <div class="container my-5 py-3  ps-5 about1">
        <div class="row">
            <div class="col-md-5 p-5">
                <h6 class="mb-2 ms-2">Who we are?</h6>
                <h2 class="mb-3">About Lost</h2>
                <p>Through Lost system, you can easily report lost devices and follow up on the status of your report,
                    and as a store owner, you can also detect the used device through our system.
                    This idea was developed in graduation project Modern Academy in Maadi Computer Science Department
                    for the year 2021-2022.</p>
                <button class="rounded-pill mt-3 border-0 px-5 py-4 mb-5">About us</button>
                <div class="row">
                    <div class="col-5">
                        <span>0+</span>
                        <p>Reported Submitted</p>
                    </div>
                    <div class="col-5">
                        <span>0+</span>
                        <p>Reviewed Devices</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="../../assets/img/full-stack-devlopment-banner.webp" class="w-100">
            </div>
        </div>
    </div>

    <div class="about2 py-5">
        <div class="container py-5">
            <h6 class="mb-2">FAQ</h6>
            <h2 class="mb-3 text-white">Frequently Asked Questions</h2>
            <p>It’s our pleasure to answer any questions you have</p>
            <div class="row my-5 pt-5">
                <div class="col-md-4 px-4">
                    <div class="number">
                        <span class="px-4 py-2">1</span>
                        <h5 class="my-4 text-white">What is the recovery rate for lost devices ?</h5>
                        <p>Not 100% guaranteed but we try to prevent theft and
                            get our electronic devices back</p>
                    </div>
                </div>
                <div class="col-md-4 px-4">
                    <div class="number">
                        <span class="px-4 py-2">2</span>
                        <h5 class="my-4 text-white">Do I have to send a picture of my device ?</h5>
                        <p>If you need to send a picture of your device, the
                            system will automatically select the picture based on your choice.</p>
                    </div>
                </div>
                <div class="col-md-4 px-4">
                    <div class="number">
                        <span class="px-4 py-2">3</span>
                        <h5 class="my-4 text-white">Is it possible to report more than one device ?</h5>
                        <p>Of course, as long as the IMEI is different for each
                            device, you can report an unlimited number of devices</p>
                    </div>
                </div>
                <div class="col-md-6 mt-md-5">
                    <div class="number">
                        <span class="px-4 py-2">4</span>
                        <h5 class="my-4 text-white">What is the IMEI and where i find it ?</h5>
                        <p>It unique number for each device can also be called
                            Serial number , you can get it if you are the real owner of the device and it's located
                            on the box each device</p>
                    </div>
                </div>
                <div class="col-md-6 mt-md-5">
                    <div class="number">
                        <span class="px-4 py-2">5</span>
                        <h5 class="my-4 text-white">Is it possible to report without IMEI of the device
                            or serial number ?</h5>
                        <p>If you lost the device box, you can report your
                            device, but the success rate of the restore process decreases due to the similarity of
                            the specifications of the devices.</p>
                    </div>
                </div>
                <div class="col-md-12 mt-md-5">
                    <div class="number">
                        <span class="px-4 py-2">6</span>
                        <h5 class="my-4 text-white">What about using a non-Egyptian mobile number ?</h5>
                        <p>At the moment, no.
                            We currently provide our service within the borders of Egypt and not outside it, but in
                            the future this will be available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/img/about-3.png" class="img-fluid">
                </div>
                <div class="col-md-5 ms-5 py-5 mt-5">
                    <h2>Our Team</h2>
                    <h6 class="mt-3 mb-3">Front End:</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <p>1. Ahmed Fawzy</p>
                        </div>
                        <div class="col-md-4">
                            <p>2. Ahmed Hamdy</p>
                        </div>
                        <div class="col-md-4">
                            <p>2. Ahmed Rashad</p>
                        </div>
                    </div>
                    <h6 class="mb-3">Back End:</h6>
                    <p>1. Ahmed Ali</p>
                    <h6 class="mt-3 mb-3">Mobile Application:</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <p>1. Ibrahim Hassan</p>
                        </div>
                        <div class="col-md-4">
                            <p>2. Abanoub Nessem </p>
                        </div>
                    </div>
                    <button class="rounded-pill mt-5 border-0 px-5 py-4 mb-5">Our Team</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>