<!-- <div class="loading-page position-fixed overflow-hidden">
    <div class="bg-video">
        <video muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../assets/Video/Lost Lap low.m4v" type="video/mp4">
        </video>
    </div>

    <div class="text-center dots-container">
        <div class="loader1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

</div> -->


<!-- <div class="loader justify-content-center align-items-center">
    <div class="b">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div> -->



<p-scrollPanel styleClass="custombar1">
    <div class="all">
        <router-outlet></router-outlet>
    </div>
</p-scrollPanel>